<%= form_for @profile do |f| %>
  
  <p>
    <%= f.label :Full_Name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :Phone_Number %><br>
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address %>
  </p>
  
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
 <%= link_to 'Add Work Experience', new_profile_work_path(@profile) %>
 </p>
 
   <p>
 <%= link_to 'Add School Experience', new_profile_school_path(@profile) %>
 </p>
 
   <p>
 <%= link_to 'Add Proficiencies', new_profile_proficiency_path(@profile) %>
 </p>
	
  <p>
    <%= f.submit %>
  </p>
<% end %>