<%= form_for @profile do |f| %>
  
  <p>
    <%= f.label :Full_Name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :Phone_Number %><br>
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address %>
  </p>
  
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>
	
  <p>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </p>
<% end %>