<h2>Users</h2>
<p>
	<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
	<%= link_to 'Posts', posts_path, class: 'btn btn-default' %>
</p>
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Password</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to( (user.first_name + ' ' + user.last_name), edit_user_path(user) ) %></td>
		<td><%= user.email %></td>
		<td><%= user.password %></td>
	</tr>
	<% end %>
</table>
