
<%= form_for (@user) do |f| %>
<h2><%= User.first_name %><%= User.last_name %></h2>
<p>
</p>
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	<tr>
		<td><%= @user.first_name %></td>
		<td><%= @user.email %></td>
	</tr>
</table>
	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning' %></br>
<%end%>